@font-face {
    font-family: 'palanquinDark';
    src: url('./assets/fonts/palanquin_dark.woff2') format('woff2');
}

@font-face {
    font-family: 'palanquin';
    src: url('./assets/fonts/palanquin.woff2') format('woff2');
}

:root {
    --bgColor: rgb(231, 108, 31);
    --paddingLeftRight: clamp(24px, calc(-1.143px + 7.857vw), 112px);
    --menuCardBackgroundColor: rgb(253, 234, 220);
    --paddingLeftRightMenuHeader: clamp(64px, calc(36.571px + 8.571vw), 160px);
    --maxContentArea: 1440px;
    --showElement: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'palanquin', sans-serif;
}

.spaceBetween {
    justify-content: space-between;
}

button {
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 12px;
    white-space: nowrap;
    padding: 5px 8px 5px 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    line-height: normal;
}

button:hover {
    color: rgb(231, 108, 31);
}

.headerTop {
    width: 100%;
    background-color: var(--bgColor);
    display: flex;
    justify-content: center;
}

.headerContent {
    width: 100%;
    max-width: var(--maxContentArea);
    height: 128px;
    padding-inline: var(--paddingLeftRight);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerImages {
    display: flex;
    flex-direction: column;
    align-items: center;

    .landingImage {
        max-width: 100%;
        width: clamp(320px, calc(0px + 100vw), 1440px);
        height: clamp(350px, calc(304.286px + 14.286vw), 510px);

        object-fit: cover;
        object-position: center;
    }

    .landingBurgerLogo {
        margin-top: calc(calc((clamp(120px, calc(97.143px + 7.143dvw), 200px)) * 0.5) *-1);
        margin-bottom: 16px;
        z-index: 2;

        width: clamp(120px, calc(97.143px + 7.143dvw), 200px);
        border-radius: 50%;
        border: 12px solid rgba(253, 234, 220, 1);
        box-shadow: -1px 6px 13px -2px rgba(0, 0, 0, 0.34);
    }

    .headline {
        display: flex;
        align-items: center;
        margin-bottom: 16px;

        gap: 16px;

        h1 {
            font-size: clamp(2.5rem, 2.3571rem + 0.7143vw, 3rem);
            font-family: 'palanquinDark';
            font-weight: bold;
        }

        .nameLineOne {
            color: var(--bgColor);
        }
    }

    .rating {
        display: flex;
        align-items: center;
        background-color: rgb(250, 202, 172);
        padding: 4px 8px;
        border-radius: 4px;
        gap: 4px;

        .ratingValue {
            font-weight: bold;
        }

        .ratingAmount {
            color: rgb(114, 109, 109);
        }
    }

    p {
        text-align: center;
        font-size: clamp(1.25rem, 1.1786rem + 0.3571vw, 1.5rem);
        padding-inline: var(--paddingLeftRight);
    }
}

/* single menu section */
.menuCategory {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 48px;

    .menuCategoryHeadlineBackground {
        width: 100%;
        height: 60px;
        background-color: var(--bgColor);
    }

    .menuCategoryHeadline {
        max-width: var(--maxContentArea);
        padding-left: var(--paddingLeftRightMenuHeader);
        display: flex;
        align-items: flex-start;
        margin: auto;
        gap: 24px;

        .flexbox {
            display: flex;
            gap: 24px;
        }

        img {
            height: clamp(60px, calc(52px + 2.5vw), 88px);
            margin-top: calc((clamp(0px, calc(-8px + 2.5vw), 28px)) *-1);
        }

        h2 {

            position: relative;
            top: calc((clamp(6px, calc(-4.857px + 0.357vw), 10px)) *-1);

            color: white;
            font-size: clamp(2rem, 1.8571rem + 0.7143vw, 2.5rem);
            font-weight: 700;
        }
    }

}

/* single menu card */
.menuCard {
    display: flex;
    width: 100%;
    max-width: var(--maxContentArea);
    margin: auto;

    .menuContentCard {
        display: flex;
        gap: 16px;

        width: 720px;
        margin-top: 16px;
        padding: 12px;
        border-radius: 12px;

        background-color: var(--menuCardBackgroundColor);

        .menu {
            display: flex;
            justify-content: space-between;
            flex-grow: 1;
        }

        img {
            width: 220px;
            height: 120px;
            object-fit: cover;
            object-position: center;
            border-radius: 12px;
        }

        .menuDescription {
            h3 {
                font-size: 24px;
                font-weight: 600;
                padding-bottom: 8px;
            }

            p {
                font-size: 16px;
            }
        }

        .menuPrice {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;

            span {
                font-size: 24px;
                font-weight: 600;
            }
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    height: 128px;
    width: 100%;
    margin-top: 48px;

    background-color: var(--bgColor);

    .footerContent {
        display: flex;
        align-items: flex-end;
        gap: 56px;
        max-width: var(--maxContentArea);
        padding-bottom: 32px;

        color: white;
        font-size: 18px;
        font-weight: 400;
    }
}

/* styling basket */


.basket {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;

    position: fixed;
    transform: translateY(-50%);
    top: 50%;
    right: calc(50% - 720px);
    z-index: 10;

    width: 350px;
    height: 820px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;

    padding: 32px 40px 32px 40px;
    background-color: rgb(54, 53, 52);

    h2 {
        color: rgb(253, 234, 220);
        text-align: center;
    }

    .basketEmptyText {
        display: flex;
        flex-direction: column;
        gap: 60px;

        color: rgb(253, 234, 220);

        p {
            text-align: center;
            font-size: 24px;
            font-weight: 500;

            padding-top: 24px;
        }

        img {
            height: 128px;
        }
    }

    .basketContent {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 16px;
        overflow-y: scroll;
        line-height: 1.5;

        .basketMember {
            background-color: rgb(253, 234, 220);
            border-radius: 16px;

            font-size: 22px;
            font-weight: 600;
            padding: 12px;
            margin-right: 4px;

            .basketAmountArea {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 8px;

                line-height: 1;

                .btnButton {
                    display: flex;
                    height: 24px;
                    gap: 8px;

                    font-size: 20px;

                    button {
                        background-color: transparent;
                        padding: 0;
                        margin: 0;
                        line-height: 1;
                        font-size: 20px;

                        position: relative;
                    }

                    .btnDecrease {
                        visibility: var(--showElement);
                    }

                    .btnDelete {
                        width: 20px;
                        height: 18px;
                        margin: 0;
                        object-position: center;
                    }

                    .btnDelete:hover {
                        content: url('./assets/icons/delete_hover.svg');
                    }
                }
            }
        }
    }
}

.customScroll::-webkit-scrollbar {
    width: 4px;
}

.customScroll::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

.customScroll::-webkit-scrollbar-track {
    background: transparent;
}

.customScroll::-webkit-scrollbar-thumb {
    background: rgb(253, 234, 220);
    border-radius: 6px;
    border: 4px solid transparent;
}

.orderCalculationShow {
    visibility: visible;
}

.orderCalculationHidden {
    visibility: hidden;
}

.orderCalculation {
    display: flex;
    flex-direction: column;
    gap: 16px;

    padding-top: 16px;

    button {
        background-color: var(--bgColor);
        color: white;
        border-radius: 32px;
        padding: 8px;

        font-size: 30px;
        font-weight: 700;
    }

    .priceCalculation {
        display: flex;
        flex-direction: column;
        color: white;

        font-size: 20px;

        hr {
            border: 2px solid rgb(253, 234, 220);
            border-radius: 4px;
        }

        p {
            display: flex;
            justify-content: space-between;
        }
    }
}

@media (max-width: 1440px) {
  .basket {
    right: 0px;
  }
}